html {
  font-size: 65%;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to top, rgba(106, 116, 230, 0.7), rgba(16, 16, 128, 0.5));
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer {
  background-image: linear-gradient(to bottom, rgba(106, 116, 230, 0.7), rgba(16, 16, 128, 0.5));
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  font-size: 2.1rem;
  color: rgb(15, 65, 15);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: rgb(64, 33, 33);
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  font-size: 3rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: calc(100vh - 125px);
}

.active {
  color: rgb(229, 115, 115);
  cursor: default;
}
